
.App {
  /* text-align: center; */
  background-color: #282c34;
  display: flex;

  

}
.App-logo{
  height:100%;
}



.loginform{
 
}

.title{
  display: flex;
  margin-top:153px;
  align-items: center;
  justify-content: center;
  color: white;
}

.enterInvitation{
  display: flex;
  margin-top:45px;
  align-items: center;
  justify-content: center;
  color: white;

}

.invitationCode{
  height: 20px;
}

.icon{
  height: 40px;
  margin: 10px;
}

